extends layout

block content
    // センサグラフ
    #page_graph(data-role='page', did=did, sid=sid, fname=fname) 
      - console.log('fname:' + fname)
      div(data-role='header', data-position='fixed', data-theme='d')
        a(data-role='button', data-rel='back', data-icon='back') 戻る
        h1 #{fname}
        a(href='/graphSetting', data-icon='gear') 設定
        
      div(data-role='content', data-theme='d')
        #grapharea(style='width: 100%; height:300;')
//-
      div(data-role='footer', data-position='fixed', data-theme='d')
        h3 SAM Ver.0.1
