extends layout

block content
  body
    // Graph表示設定ダイアログ
    #page_graphSetting(data-role='dialog')
      div(data-role='header', data-position='fixed', data-theme='d')
        a(data-role='button', data-rel='back', data-icon='back') 戻る
        h1 Graph表示設定
      div(data-role='content')
        form(action='#graph', data-ajax='false', method='get')
          div(data-role='fieldcontain')
            label(for='graph-post-date') 表示開始日
            input#graph-post-date(data-options='{"mode":"calbox"}', data-role='datebox', name='date', type='date')
          div(data-role='fieldcontain')
            label(for='graph-post-time') 表示開始時刻
            input#graph-post-time(name='time', type='time')
          div(data-role='fieldcontain')
            label(for='graph-post-timespan') 表示時間幅
            select#graph-post-timespan(data-native-menu='false', data-overlay-theme='d', name='timespan')
              option(data-placeholder='true', value='0') 表示時間幅を選択 
              option(value='2') 2時間 
              option(value='6') 6時間 
              option(value='12') 12時間 
              option(value='24') 24時間 
          p
          //input#graph-post-submit(data-theme='d', type='submit', value='表示')
          a(data-role='button', data-rel='back', data-thema='d') 表示
