extends layout

block content
  body
    // ホームページ
    console.log('in home jade')
    #page_home(data-role='page', data-url='/home', gid=gid)    
      div(data-position='fixed', data-role='header', data-theme='d')
        a(href='login', data-role='button', data-icon='flat-cross') 終了
        h1 農業モニタリングサービス
      .ui-content(data-role='contents')
        div(data-role='fieldcontain')
          div(data-mini='true', data-role='collapsible', data-theme='a')
            h3
              | お知らせ
              span(class="ui-li-count")
            ul#notices-listview
        p
        ul#fields-listview(data-role='listview', data-inset='true', data-filter='true', data-input='#siteFilter', data-divider-theme='a', data-filter-placeholder='検索したい圃場のキーワード')        
          li(data-role='list-divider')
            | 圃場一覧
          li
      div(data-position='fixed', data-role='footer', data-theme='d')
        div(data-role='navbar')
          ul
            li
              a(data-icon='flat-settings', href='/setting') 設定
            li
              a(data-icon='flat-bubble', href='/help') ヘルプ

