extends layout

block content

    // ログインページ
    #page_login(data-role='page', data-theme='c')
      div(data-role='header', data-theme='d')
        h1 農業モニタリングサービス
      .ui-content(data-role='content')
        form(action='/login.post', method='post', data-ajax='false')
          div(data-role='fieldcontain')
            label(for='email') メールアドレス:
            input#email(type='text', name='email', required='', placeholder='xxx@yyy.zzz')
          div(data-role='fieldcontain')
            label(for='email') パスワード:
            input#pwd(type='password', name='pwd', required='', placeholder='******')
          input#login-submit(type='submit', value='ログイン', data-theme='a')

          p
            if message != null
              h3(style="color: #dc143c") #{message}
          p

      div(data-role='footer', data-theme='d', data-position='fixed')
        h4
          small © 2015 TABrain, Inc. and Ayumi-kinoko, Inc.
