extends layout

block content
    // 地図
    #page_map(data-role='page', data-theme='d', fname=fname, location=location)
      div(data-role='header', data-theme='d')
        a(data-role='button', data-rel='back', data-icon='back') 戻る
        h1 #{title}
      div(data-role='content')
        - console.log('> in map:' + location)
        #map_canvas
      div(data-role='footer', data-position='fixed', data-theme='d')
        h4 © 2015 TABrain, Inc.
